* { margin: 0; padding: 0 }
* ol li {
	list-style: decimal inside;
}
label {
	cursor: pointer;
}
body {
	padding: 45px 15px 15px 15px;
	font: 0.8em/1.35em verdana, sans-serif;
}
h1, h2, p, #morpion, #stats {
	margin: 15px 0;
}
ul {
	margin: 15px 35px;
}
ul li {
	margin: 5px 0;
}
ul ul {
	margin: 0 25px;
}
button, input, select {
	vertical-align: middle;
	padding: 3px;
}
#credit {
	font-size: 0.85em;
	background: #ddd;
	border-bottom: 1px solid #999;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	margin: 0;
}
#morpion canvas {
	border: 1px solid #000;
}
#morpion {
	float: left;
}
#stats, #extra {
	float: left;
	padding: 15px;
}
#stats {
	width: 430px;
}
#stats h3 {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}
#stats div {
	margin-bottom: 25px;
}
#score_value {
	font-size: 2em;
	font-weight: bold;
}